* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-color: #e9c46a;  }

  body {
    margin: 0px;
    padding: 10px;
  
  }
  
  header {
    padding: 20px 35px;
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #e9c46a;
  }
  
  header a {
    text-decoration: none;
    color: #e9c46a;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
    background: #52b69a;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;}
    
    /* HEADER NAVBAR STYLES END */
  
  
    /* Hero */
  .hero {
    background-image: url(../css/images/herobio.jpeg);
    background-size: 50%;
    background-repeat: no-repeat;
      background-position: 50% 35%;
      height: 300px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      padding-bottom: 450px;      
  }
  .quote {
    width: 35%;
    text-align: right;
    font-weight: bold;
    margin: 3.5%;
    color: #e76f51;
    font-size: 18px;
    line-height: 1.3;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 28px;
  }
  /*Hero Styling Ends*/

   /*About Me*/

   .about-me {
  
  padding: 10px;
  }
  
  
    .section-title {
      margin: 10px;
      display: flex;
      padding: 0px;
    }
  
    .section-title h2 {
      width: 200px;
      flex: 1;
      text-align: center;
      font-weight: solid;
      margin: 50px;
      color: #e9c46a;
    }
  
    .section-title p{
      flex: 5;
      border-left: 3px solid #e76f51;
      padding: 20px;
      color: #e9c46a;
    }
  
   .intro {
      font-size: 20px;
      text-align: center;
      color: #e9c46a;
      font-style: arial;
    }
  /* About Me Styling Ends*/

  /* My Work Section */

#work {
margin: 40px;
padding: 10px;
display: flex;
margin: auto;
border-right: #e76f51;}

#work h2 {
  padding: 95px;
  margin: 25px;
  height: 700px;
  border-right:3px solid #e76f51;
  color: #e9c46a;
}
  
  .work-title {
    display: grid;
  margin: 50px;
  grid-template-columns: max-content;;
  grid-template-rows: 2;
  grid-gap: 10px;
  }
  
  .work-title h2 {
    flex: 1;
    padding: 30px;
    border-right: 3px solid #e76f51;
    width: 200px;
    text-align: center;
    color: #e9c46a;
  }
  
  .work-title .box1 {
    background-image: url(../css/images/hero-bg.jpeg);
    background-size: contain;
    margin-top: auto;
            background-position: cover;
            width: 750px;
            height: 200px;
            color: #e9c46a;
           
  }
  
  .work-title .box2 {
    background-image: url(../css/images/image.jpeg);
    color: #e9c46a;
    width: 50%;
    background-position: cover;
 
  }
  
  .work-title .box3 {
    background-image: url(../css/images/3-robot.jpeg);
    background-size: contain;
    margin-top: auto;
            background-position: center;
            background-repeat: no-repeat;
            color: #e9c46a;
            width: 50%;
            text-align: right;
            

            

  }


  .work-title .box4 {
    background-image: url(../css/images/social-media-marketing.jpg);
    background-size: contain;
  margin-top: 20px;
            background-position: center;
            background-repeat: no-repeat;
            width: 50%;         
            color: #e9c46a;
            text-align:justify
  }
  .work-title a {
  display: grid;
  border:3px solid #e76f51;
  justify-content: space-between;
  width: 70%;
  margin: 40px;
  padding: 30px;
  
  }
  

  /*Contact Section*/

  #contact {
padding: 10px;
border-right: #e76f51;
display: flex;}

.main {
color: #e9c46a;
  padding: 55px;
  margin: 50px;
  height: 150px;
  border-right:3px solid #e76f51;
}

footer {
  background-color: #264653;
}
  footer nav {
    margin: 100px;
    font-color: #e9c46a;
  }
  
  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  footer nav ul li a {
    margin: 0 30px;
    font-weight: lbold;
    color: #e9c46a;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
 footer nav ul li a:hover {
    background: #52b69a;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;}