* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 10px;

}

header, footer {
  padding: 20px 35px;
  background-color: #1a759f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #52b69a;
}

header a {
  text-decoration: none;
  color: #52b69a;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
  background: #52b69a;
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;}
  
  /* HEADER / NAVBAR STYLES END */


  /* Hero */
.hero {
  background-image: url(../css/images/image.jpeg);
  
  background-size: cover;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}




.quote {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #52b69a;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 28px;
}

  /*About Me*/

  .about-me {
  margin: 40px;
padding: 10px;
}


  .section-title {
    margin: 40px;
    display: flex;
  }

  .section-title h2 {
    width: 200px;
    flex: 1;
    text-align:center;
  }

  .section-title p{
    flex: 5;
    border-left: 3px solid #52b69a;
    padding: 20px;
  }

 .intro {
    font-size: 20px;
    text-align: center;
    color: #024e76;
    font-style: arial;
  }

 

/* My Work Section */

#work {
  margin: 40px;
padding: 10px;
background-color: none}

.work-title {

  display: flex;
margin: 60px;
}

.projects {
  display: flex;
margin: 60px;
}

.work-title h2 {
  flex: 1;
  padding: 30px;
  border-right: 3px solid #52b69a;
  width: 200px;
  text-align: center;
}

.work-title .run-buddy {
  background-image: url(../css/images/hero-bg.jpeg);
  background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
}


.work-title a {
display: grid;
border:3px solid #52b69a;
justify-content: space-between;
width: 70%;
margin: 40px;
padding: 30px;

}

.work-title a:hover {
font-size:50px;
    transition: all 500ms;
    font-size-adjust: 20px;
}







/*Footer Styling Begins*/

footer {
  display: flex;
}

 footer h3 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #52b69a;
  }
  
  footer a {
    text-decoration: none;
    color: #52b69a;
  }
  
  footer nav {
    margin: 7px 0;
  }
  
  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  footer nav ul li a:hover {
    background: #52b69a;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;}
    


    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 980px) {
      header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: auto;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      .section-title {
        width: 80%;
      }
      
      .work {
        padding-bottom: 0;
        justify-content: center;
        display: inline-block;
      }
      

    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    @media screen and (max-width: 768px) {
*{
  background-color: none;
}

      header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      .section-title {
        width: 80%;
      }
      
      
      .projects {
        flex: 25%;
        flex-direction: column;
 
      }

      
    
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    @media screen and (max-width: 575px) {
      header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      .section-title {
        width: 80%;
      }
      
      .work {
        padding-bottom: 0;
        justify-content: center;
        display: inline-block;
        width: 49%;
      }
      
      .service-grid-container {
        display:inline-block;
      }